:root {
  --color1: #00171F;
  --color2: #CBF7ED;
  --color3: #007EA7;
  --color4: #FFFFFF;
  --color5: #83A0A0;
}

/*To make the content stick to the sides*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-size: 10px; /*make the font standard*/
}

header,
footer,
main {
  display: grid;
  align-items: center;
  justify-content: center;
}
/* qualities of main*/
main {
  background-color: var(--color2);
  color: var(--color1);
}

/* qualities of footer*/
footer {
  background-color: var(--color4);
  width: 100vw;
  position: absolute;
  top: 100%;
}

/* qualities of header*/
header {
  background-color: var(--color5);
  color: var(--color1);
  position: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
}

/*Edit of the H1 tag*/
h1 {
  font-size: 4rem;
  text-align: center;
}

.intro {
  font-size: 1.8rem;
}

.heading {
  font-size: 3.2rem;
}

.contact {
  font-size: 2.6rem;
}
